.head1{
    
    background-color: blueviolet;
    align-items: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.head2{
    background-color: blueviolet;
    align-items: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}